<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>default</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:extrabold" rel="stylesheet">
    <script src="https://use.fontawesome.com/3944cd8c0c.js"></script>

    <style type="text/css">
    body {
      font-family: 'Open Sans', sans-serif;
      font-size: 42px;
    }

    .message > div {
        margin: 20px;
    }
    .spatial,
    .icon {
        font-size: 100px;
    }
    </style>
</head>

<body>
    <div class="message">
        <div class="icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
        <div class="spatial">spatial-e</div>
        <div class="text-be">
            <div>bruxelles environnement</div>
            <div>leefmilieu brussel</div>
        </div>
    </div>
</body>

</html>
